#project
/WEB-INF/
/output/
/extension/bin
/extension/lib
/extension/config.xml
/dummy/

#extensions
*.project
*.class
*.DS_Store
*.classpath
*.iml
/.idea
/mxunit


.externalToolBuilders/BuildExtension.launch
