#project
/WEB-INF/
/output/
/extension/bin
/extension/lib
/extension/config.xml

#extensions
*.project
*.class
*.DS_Store
*.classpath
*.iml
/.idea
/mxunit
/mockbox

.externalToolBuilders/BuildExtension.launch
