<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<info>
		<id>45678243-BD9B-22DF-325D-0800200D9A44</id>
		<version>0.1.201011092209</version>
		<name>WebSocketGateway</name>
		<type>server</type>
		<label>WebSocketGateway</label>
		<description>WebSocket Gateway Extension</description>
		<created>2010-November-9 22:09</created> 
		<category>Gateway</category>
		<author>Andrea Campolonghi</author>
		<image></image>
		<mailinglist>http://groups.google.com/group/railo-beta</mailinglist>
		<support>http://groups.google.com/group/railo-beta</support>
		<documentation></documentation>		
	</info>
</config>

